aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
anchorpy==0.21.0
anchorpy-core==0.2.0
annotated-types==0.7.0
anyio==4.10.0
attrs==25.3.0
based58==0.1.1
borsh-construct==0.1.0
certifi==2025.8.3
click==8.2.1
construct==2.10.68
construct-typing==0.5.6
fastapi==0.116.1
frozenlist==1.7.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
jsonalias==0.1.1
multidict==6.6.4
propcache==0.3.2
pyaes==1.6.1
pyasn1==0.6.1
pydantic==2.11.7
pydantic_core==2.33.2
pyheck==0.1.5
python-dotenv==1.1.1
rsa==4.9.1
sniffio==1.3.1
solana==0.36.6
solders==0.26.0
starlette==0.47.2
sumtypes==0.1a6
Telethon==1.40.0
toml==0.10.2
toolz==0.11.2
typing-inspection==0.4.1
typing_extensions==4.14.1
uvicorn==0.35.0
websockets==15.0
yarl==1.20.1
